<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>width love '^'</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form class="page">
      <a
        href="https://i.pinimg.com/736x/58/be/20/58be20aa4a81cb2909062f76ae736487.jpg"
        class="first_word"
        >For my parents...💖</a
      >
      <div class="pictue">
        <img
          src="https://i.pinimg.com/736x/42/1e/a7/421ea758d004939b894489d312688cc1.jpg"
          alt="image1"
        />

        <img
          src="https://i.pinimg.com/736x/23/aa/2d/23aa2dd0d2310c8d8b2628d0df9bc23e.jpg"
          alt="image2"
        />
      </div>

    </form>
  </body>
</html>
