body {
  background-color: aliceblue;
}
input {
  background-color: aliceblue;
}
label {
  background-color: aliceblue;
}
button {
  background-color: aliceblue;
}
select {
  background-color: aliceblue;
}
